$large-font:        48px;
$medium-font:       25px;
$small-font:        20px;
$tiny-font:         18px;
$smallest-font:     16px;

$double-spacing:    160px;
$large-spacing:     80px;
$medium-spacing:    40px;
$small-spacing:     20px;
$tiny-spacing:      10px;

$max-paragraph:     600px;

$large-break:       950px;
$medium-break:      768px;
$small-break:       600px;
$smallest-break:    320px;

$black:         #000000;
$white:         #FFFFFF;
$light-blue:    #66CCFF;
$green:         #30C657;
$purple:        #743BBD;
$grey:          #D9D9D9;
$dark-grey:     #CECECE;

// $grey:          #DCDDDE;
// dedbda
// D9D9D9