.site-header {
    width: 100%;
    max-width: 1500px;
    height: $large-spacing;
    margin: 0 auto;
    overflow: hidden;
    background-color: $purple;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: height 0.2s;

    &__nav {
        width: 64%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 120;

        @media screen and (max-width: $large-break) {
            display: none;
        }

        .site-header__link { 
            top: 27px;
            @include medium-text($white);

            &:not(:last-of-type) {
                margin-right: 2%;
            }
        }

        .site-header__link--active {
            // @include italic-text($white, $medium-font);
        }
    }

    &__logo-image {
        width: 120px;
        height: 60px;
        position: absolute;
        top: $tiny-spacing;
        left: $small-spacing;

        @media screen and (max-width: $small-break) {
            width: 84px;
            height: 42px;
            top: 19px;
            left: $tiny-spacing;
        }

        @media screen and (max-width: $smallest-break) {
            width: 70px;
            height: 35px;
            top: 22.5px;
        }
    }

    &__social-nav {
        width: 18%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;

        @media screen and (max-width: $large-break) {
            width: 60%;
            margin: 0 auto;
            right: 0;
            left: 0;
            justify-content: center;
        }
    }

    &__social-link {
        width: auto;
        height: 26px;
        margin-top: 29px;
        margin-right: $tiny-spacing;

        &:last-of-type {
            margin-right: $small-spacing;
        }


        @media screen and (max-width: $large-break) {
            height: 36px;
            margin-top: 22px;
            margin-right: 0;

            &:last-of-type {
                margin-right: 0;
            }

            &:not(:last-of-type) {
                margin-right: $tiny-spacing;
            }
        }

        @media screen and (max-width: $smallest-break) {
            height: 28px;
            margin-top: 26px;
        }
    }

    &__social-icon {
        width: auto;
        height: 26px;

        @media screen and (max-width: $large-break) {
            height: 36px;
        }

        @media screen and (max-width: $smallest-break) {
            height: 28px;
        }
    }

    &__nav-mobile {
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $white;
        outline: 2px solid $purple;
        outline-offset: -25px;
        z-index: 1;
        display: none;

        .site-header__link {
            text-align: center;
            @include medium-text($purple);

            &:not(:last-of-type) {
                margin-bottom: 5%;
            }
        }

        .site-header__link--active {
            // @include italic-text($white, $medium-font);
        }
    }

    &__sub-nav {
        display: none;
    }

    &__link {
        position: relative;
        display: block;
        height: 26px;
        text-transform: uppercase;
    }

    &__link--active {
        // @include italic-text($white, $medium-font);
    }
}