.site-overlay {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo-image {
        position: relative;
        width: 120px;
        height: 60px;
        margin: 0 auto;
        animation:spin 2s linear infinite;

        @keyframes spin {
            100% {
                transform:rotate(360deg);
            }
        }
    }
}